<h2 class="title">{{formHeader}}</h2>
<div *ngIf="eventTemplate != null">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <form [formGroup]="eventTemplateForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label class="form-check-label" for="name">Name</label>
      <input id="name" formControlName="name" placeholder="name" class="form-control">
      <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">

        <div *ngIf="f.name.errors.required">
          name is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-check-label" for="description">Description</label>
      <input id="description" formControlName="description" placeholder="description" class="form-control">
      <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)" class="alert alert-danger">

        <div *ngIf="f.description.errors.required">
          description is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-check-label" for="queueName">Queue</label>
      <select id="queueName" formControlName="queueName" class="form-control">
        <option *ngFor="let name of queueNameLookup" [ngValue]="name">{{name}}</option>
      </select>
      <div *ngIf="f.queueName.invalid && (f.queueName.dirty || f.queueName.touched)" class="alert alert-danger">
        <div *ngIf="f.queueName.errors.required">
          Queue name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-check-label" for="routeClassPath">Class Path</label>
      <select id="routeClassPath" formControlName="routeClassPath" class="form-control">
        <option *ngFor="let item of routeClassLookup" [ngValue]="item.key">{{item.value}}</option>
      </select>
    </div>


      <div class="form-group">
        <label class="form-check-label" for="connectorIds">Connectors</label>
      
        <div formArrayName="connectorIds">
          <div *ngFor="let connector of f.connectorIds['controls']; let connectorIndex=index">
      
      
            <div class="form-inline">
      
              <select [formControlName]="connectorIndex" class="form-control">
                <option *ngFor="let item of connectorLookup" [ngValue]="item.key">{{item.value}}</option>
              </select>
              <button type="button" class="btn btn-danger btn-sm" (click)="removeConnectorId(connectorIndex)">X</button>
      
            </div>
      
          </div>
          <button id="connectorIds" type="button" class="btn btn-secondary btn-sm" (click)="addConnectorId()">Add connector</button>
      
        </div>
      </div>

    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" formControlName="traceEnabled" class="form-check-input">
        Trace?
      </label>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" formControlName="inactive" class="form-check-input">
        Inactive?
      </label>
    </div>


    <div class="row">
      <div class="col">
            <div class="form-group">
              <label class="form-check-label" for="messageTemplateMapIds">Chained Routes</label>
            
              <div formArrayName="chainedRoutes">
                <div *ngFor="let template of f.chainedRoutes['controls']; let templateIndex=index">
            
                  <div class="form-inline">
                    <select [formControlName]="templateIndex" class="form-control">
                      <option *ngFor="let item of eventTemplateLookup" [ngValue]="item.key">{{item.value}}</option>
                    </select>
            
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeChainedRoute(templateIndex)">X</button>
                  </div>
            
                </div>
                <button id="chainedRoutes" type="button" class="btn btn-secondary btn-sm" (click)="addChainedRoute()">Add chained route</button>
              </div>
            </div>
      </div>
      <div class="col">
        
                <div class="form-group">
                  <label class="form-check-label" for="messageTemplateMapIds">Mappings</label>
                
                  <div formArrayName="messageTemplateMapIds">
                
                    <div *ngFor="let template of f.messageTemplateMapIds['controls']; let templateIndex=index">
                
                      <div class="form-inline">
                
                        <select [formControlName]="templateIndex" class="form-control">
                          <option *ngFor="let item of messageTemplateMapLookup" [ngValue]="item.key">{{item.value}}</option>
                        </select>
                
                        <button type="button" class="btn btn-danger btn-sm"
                          (click)="removeMessageTemplateMapId(templateIndex)">X</button>
                      </div>
                
                    </div>
                    <button id="messageTemplateMapIds" type="button" class="btn btn-secondary btn-sm"
                      (click)="addMessageTemplateMapId()">Add mapping</button>
                  </div>
                </div>
         
        
      </div>
    </div>





    <button type="submit" class="btn btn-secondary btn-sm" [disabled]="!eventTemplateForm.valid">Save</button>&nbsp;
    <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</button>

  </form>

</div>