<h2 class="title">{{formHeader}}</h2>
<div *ngIf="alertMessage != null">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <form [formGroup]="alertMessageForm" (ngSubmit)="onSubmit()">

    {{f.id.value || 'n/a'}}

    <div class="form-group">
      <label class="form-check-label" for="name">Name</label>
      <input id="name" formControlName="name" class="form-control">


      <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">

        <div *ngIf="f.name.errors.required">
          Name is required.
        </div>
      </div>

    </div>


    <div class="form-group">

      <label class="form-check-label" for="description">Description</label>

      <input id="description" formControlName="description" class="form-control">

    </div>


    <div class="form-group">
      <label class="form-check-label" for="address">Address</label>
      <input id="address" formControlName="address" class="form-control">


      <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)" class="alert alert-danger">

        <div *ngIf="f.address.errors.required">
          Address is required.
        </div>
      </div>

    </div>


    <div class="form-group">

      <div class="form-check">

      <label class="form-check-label">
        <input type="checkbox" formControlName="isText" class="form-check-input">
        Is text?
      </label>

      </div>

    </div>

    <div class="form-group">
      <label class="form-check-label" for="message">Message</label>
      <textarea id="message" formControlName="message" class="form-control" rows="40"></textarea>

      <div *ngIf="f.message.invalid && (f.message.dirty || f.message.touched)" class="alert alert-danger">

        <div *ngIf="f.message.errors.required">
          Message is required.
        </div>
      </div>

    </div>


<button type="submit" class="btn btn-secondary btn-sm" [disabled]="!alertMessageForm.valid">Save</button>&nbsp;
<button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</button>

</form>

</div>