    <h2 class="title">{{formHeader}}</h2>
  <div  *ngIf="eventMessage != null">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <div class="table-responsive">

      <ul>
        <li>Queue Id: {{eventMessage.queueId || ''}}</li>
        <li>Partition #: {{eventMessage.partitionNumber || ''}}</li>
        <li>Error message: {{eventMessage.errorMessage || ''}}</li>
        <li>Status: {{eventMessage.status || ''}}</li>
        <li>Flag: {{eventMessage.flag || ''}}</li>
      </ul> 

      <form [formGroup]="eventMessageForm" (ngSubmit)="onSubmit()">

        <div class="form-group">

      <label class="form-check-label" for="route">Message</label>

          <textarea id="route" class="form-control" formControlName="message" placeholder="message" rows="10" ></textarea>


          <div *ngIf="f.message.invalid && (f.message.dirty || f.message.touched)" class="alert alert-danger">

            <div *ngIf="f.message.errors.required">
              Message is required
            </div>
          </div>
        </div>


        <button type="submit" class="btn btn-secondary btn-sm" [disabled]="!eventMessageForm.valid">Save</button>&nbsp;
        <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</button>


      </form>
    </div>
  </div>