<h2 class="title">{{formHeader}}</h2>
<div *ngIf="script != null">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <form [formGroup]="scriptForm" (ngSubmit)="onSubmit()">

    {{f.id.value || 'n/a'}}

    <div class="form-group">
      <label class="form-check-label" for="name">Name</label>
      <input id="name" formControlName="name" class="form-control">


      <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger">

        <div *ngIf="f.name.errors.required">
          Name is required.
        </div>
      </div>

    </div>


    <div class="form-group">

      <label class="form-check-label" for="description">Description</label>

      <input id="description" formControlName="description" class="form-control">

    </div>


    <div class="form-group">
      <label class="form-check-label" for="importedScriptIDs">Import scripts</label>

      <div formArrayName="importedScriptIDs">
        <div *ngFor="let template of f.importedScriptIDs['controls']; let scriptIndex=index">
          <div class="form-inline">
            <select [formControlName]="scriptIndex" class="form-control">
              <option *ngFor="let item of scriptLookup" [ngValue]="item.key">{{item.value}}</option>
            </select>

            <button type="button" class="btn btn-danger btn-sm"
              (click)="removeImportedScript(scriptIndex)">X</button>
          </div>

        </div>
        <button id="importedScriptIDs" type="button" class="btn btn-secondary btn-sm" (click)="addImportedScript()">Add imported script</button>
      </div>
    </div>



    <div class="form-group">

      <div class="form-check">

      <label class="form-check-label">
        <input type="checkbox" formControlName="isCustomizable" class="form-check-input">
        Customizable?
      </label>

      </div>

    </div>

    <div class="form-group">
      <label class="form-check-label" for="script">Script</label>
        <code>
      <textarea id="script" formControlName="script" class="form-control" rows="40"></textarea>
    </code>

      <div *ngIf="f.script.invalid && (f.script.dirty || f.script.touched)" class="alert alert-danger">

        <div *ngIf="f.script.errors.required">
          Script is required.
        </div>
      </div>

    </div>


<button type="submit" class="btn btn-secondary btn-sm" [disabled]="!scriptForm.valid">Save</button>&nbsp;
<button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</button>

</form>

</div>