
    <h2 class="title">Mappings</h2>
<div  *ngIf="messageTemplateMapsPageable != null">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">

    Total: {{messageTemplateMapsPageable.totalElements}} Current:{{messageTemplateMapsPageable.numberOfElements}}

    <form  [formGroup]="messageTemplateMapForm" (ngSubmit)="onSubmit()">
      <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Name</th>
          <th class="border-top-0" scope="col">Description</th>
          <th class="border-top-0" scope="col">Source Template</th>
          <th class="border-top-0" scope="col">Target Template</th>
          <th class="border-top-0" scope="col" style="width:120px"><a [routerLink]="['../mappings', 'new' ]"
              class="btn btn-secondary btn-sm">New mapping</a>&nbsp;
          </th>
        </tr>
      </thead>
      <tbody>
       

        <tr *ngFor="let item of messageTemplateMapsPageable.content" >
        
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>
            {{item.sourceMessageTemplateName}}
          </td>
          <td>
            {{item.targetMessageTemplateName}}
          </td>

          <td style="white-space: nowrap">
            <a [routerLink]="['../mappings', item.id ]" class="btn btn-secondary btn-sm">Map/Edit</a>&nbsp;
            <button type="button" (click)="delete(item)" class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    </form>
  </div>
</div>

